<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :listing_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :listing_description %>
  </div>

  <div class="field">
    <%= form.select :category,  Listing::CATEGORY_TYPES %>
  </div>  

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.text_field :owner_id, id: :listing_owner_id %>
  </div>

  <div class="field">
    <%= form.label :return_time %>
    <%= form.time_select :return_time, id: :listing_return_time %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, id: :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
