<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="container-fluid">
          <%= form_with url: listings_path, local: true, method: :get, id: "search-form" do |f| %>
              <%= f.text_field :query, placeholder: "I'm looking for..." %>
              <%= f.submit 'Search', class: "btn btn-warning" %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>
  <div class='container-fluid'>
    <button class="btn btn-default btn-block"><%= link_to 'Post ad', new_listing_path %></button>
  </div>
<div class="container-fluid">
  <div class="row" style="height: 60px">
      <h3 class="span6" style="float: none; margin: 0 auto;">
      <% if params[:query].nil? %>
        <strong>Recently Added</strong>
      <% else %>
          <strong>Your Search Results for ... <div class='text-center'><%= params[:query] %></div></strong>         
      <% end %>
      </h3>
  </div>
  <section>
    <div class="container py-3">
      <% @listings.each do |listing| %>
      <div class="card">
        <div class="row ">
          <div class="col-md-4">
              <% if Photo.find_by(listing_id: listing.id) == nil %>
                <div class="thumbnail text-center"><%= link_to image_tag("/images/noimage.png"), listing %></div>
              <% else %>
                <div class="thumbnail text-center"><%= link_to image_tag(listing.photos.first.image_url(:thumb)), listing%></div>
              <% end %>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title text-center"><%= link_to listing.title, listing %></h4>
                <p class="card-text text-center"><%= number_to_currency listing.rental_fee %> per day </p>
                <h6 class="card-text text-center"><%= listing.city %>, <%= listing.state %></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div>
