<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Item Location:</strong>
  <%= @listing.city %>, <%= @listing.state %>
</p>

<% if current_user %>
  <%= link_to "favorite", favorite_listing_path(@listing, type: "favorite"), method: :put %>
  <%= link_to "unfavorite", favorite_listing_path(@listing, type: "unfavorite"), method: :put %>
<% end %>

<p>
  <strong>Owner:</strong>
  <%= @listing.owner.email %>
</p>

<p>
  <strong>Rental Fee:</strong>
  <%= @listing.rental_fee %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @listing.deposit %>
</p>

<p>
  <strong>Return time:</strong>
  <%= @listing.return_time %>
</p>

<p>
  <strong>Photos:</strong><br>
  <% @listing.photos.each do |photo| %>
    <%= image_tag photo.image_url(:thumb) %><br>
    <%= link_to 'Delete Photo', photo_path(photo), method: :delete %><br>
  <% end %>
</p>

<div>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%= link_to 'Back', listings_path %>
</div>

<div>
  <strong> Customer Reviews </strong>
</div>

<div>
  <%= link_to "Write a Review", new_listing_review_path(@listing) %>
</div>

<% if @reviews.blank? %>
  <h3>No reviews just yet, would you like to add the first?</h3>
  <%= link_to "Write Review", new_listing_review_path(@listing) %>
<% else %>
  <% @reviews.each do |review| %>
  <div class="review">
    <h3><%= Profile.find_by(user_id: review.user_id).user_name %></h3>
    <p><%= review.rating %></p>
    <p><%= review.comment %></p>
  </div>
  <% end %>
<% end %>