<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @listing.owner.email %>
</p>

<p>
  <strong>Return time:</strong>
  <%= @listing.return_time %>
</p>

<p>
  <strong>Photos:</strong><br>
  <% @listing.photos.each do |photo| %>
    <%= image_tag photo.image_url(:thumb) %><br>
    <%= link_to 'Delete Photo', photo_path(photo), method: :delete %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
