<p id="notice"><%= notice %></p>

<div>
  <small> . <%= link_to 'Back to listings', listings_path %></small> <br>
  <%# if @listing.owner_id == current_user.id %>
    <%#= '' %>
  <%# else %>
    <%#= link_to 'Edit your listing', edit_listing_path(@listing) %>
  <%# end %>
</div>

<% if Photo.find_by(listing_id: @listing.id) == nil %>
  <div class="thumbnail text-center"><%= image_tag("/images/noimage.png")%></div>
<% else %>
  <div class="thumbnail text-center">
    <% @listing.photos.each do |photo| %>
      <%= image_tag photo.image_url(:thumb) %><br>
    <% end %>
  </div>
<% end %>

<div class="container">
  <h1>
    <%= @listing.title %>
  </h1>

  <h3>
    <%= number_to_currency @listing.rental_fee %> per day
  </h3>

  <h5>
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    <%= @listing.city %>, <%= @listing.state %>
  </h5>

  <p>
    <%= link_to Profile.find_by(user_id: @listing.owner_id).user_name, profile_path(Profile.find_by(user_id: @listing.owner_id)) %>
  </p>

  <% if current_user.id == @listing.owner_id %>
    
  <% else %>
    <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: User.find(@listing.owner_id)), method: 'post'%>
  <% end %>

  <p>
    <strong>Item Description:</strong> <br>
    <%= @listing.description %>
  </p>

  <div class=button>
    <button type="button" class="btn btn-warning btn-md btn-block"><%= link_to 'Book Now', new_listing_rental_path(@listing) %></button>
  </div>
</div>

<%# if current_user %>
  <%#= link_to "favorite", favorite_listing_path(@listing, type: "favorite"), method: :put %>
  <%#= link_to "unfavorite", favorite_listing_path(@listing, type: "unfavorite"), method: :put %>
<%# end %>



<div class="container">
  <div>
    <h3> Customer Reviews </h3>
  </div>

  <div>
    <p><%= link_to "Leave a Review", new_listing_review_path(@listing) %></p>
  </div>

  <% if @reviews.blank? %>
    <small class="text-muted">No reviews just yet, would you like to add the first?</small>
  <% else %>
    <% @reviews.each do |review| %>
    <div class="card">
      <div class="card-block">
        <div class="container"
          <p><%= review.rating %></p>
          <h4 class="card-title"><%= truncate(review.comment, :length => 20, :separator => ' ') %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= link_to Profile.find_by(user_id: review.user_id).user_name, profile_path(review.user_id) %></h6>
          <p class="card-text"><%= review.comment %></p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>