<div class="ui segment">
 <div class="container">
  <h3 class="text-center">Inbox</h3>
 </div>
 <div class="ui list">
  <div class="item">
   <% @conversations.each do |conversation| %>
   <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
    <% if conversation.sender_id == current_user.id %>
      <% recipient = User.find(conversation.recipient_id) %>
    <% else %>
      <% recipient = User.find(conversation.sender_id) %>
    <% end %>
    <span class="col-3">
    <% if Profile.find_by(user_id: recipient.id).image_url(:thumb) == nil %>
      <%= image_tag(("/images/no-profile.png"), class: "img-circle") %>
    <% else %>
      <%= image_tag(Profile.find_by(user_id: recipient.id).image_url(:thumb), class: "img-circle") %>
    <% end %>
    </span>
    <span class="col-9">
    <div class="row">
    <%= link_to recipient.email,   conversation_messages_path(conversation)%>
   <% end %>
   <%= conversation.messages.last.created_at.strftime("%m/%d/%Y")  %>
    </div>
   <small class="text-muted"><%= truncate(conversation.messages.last.body, :length => 20, :separator =>  ' ') %></small>
   </span>
  <% end %>
  </div>
 </div>
</div>