<h2>Rent <strong><%= @rental.listing.title %></strong></h2>

<%= form_with(model: [@rental.listing, @rental], local: true)  do |f| %>
  <%= f.hidden_field :listing_id %>

<div>
  <%= f.label :start_date %>
  <%= f.text_field :start_date, type: 'date' %>
</div>

<div>
  <%= f.label :end_date %>
  <%= f.text_field :end_date, type: 'date' %>
</div>

<div>
  <%= f.label "Required Deposit: " %>
  <%= number_to_currency(@rental.listing.deposit) %>
</div>

<div>
  <%= f.submit %> 
</div>
<% end %>
